@model capa_entidad.articulos

@{
    ViewBag.Title = "Eliminar_articulo";
}



<h3>Estas seguro de eliminar este elemento?</h3>
<div>
    <h4>articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTPinventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTPinventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a href="~/Home/Ver_Articulos" class="btn btn-warning">Volver a la lista</a>
</div>
    }
</div>
