@model IEnumerable<capa_entidad.articulos>

@{
    ViewBag.Title = "Ver_Articulos";
}

<h2>Ver Articulos</h2>

<p>
    <a href="~/Home/Crear_Articulo" class="btn btn-success">Agregar articulo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTPinventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.existencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDTPinventario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.costo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>
    <td class="btn btn-warning">
        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
        
    </td>
    <td class="btn btn-danger">
        
        @Html.ActionLink("Delete", "Eliminar_articulo", new { id=item.ID })
    </td>
</tr>
}

</table>
